<log4net debug="false">

  <!-- The DebugRollingLogFileAppender writes all messages > ERROR to a log file-->
  <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
    <file value=".\Logs\rapidtargets"/>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value=".yyyyMMdd.lo\g" />
    <threshold value="DEBUG"/>  <!-- This can be changed during runtime to INFO or DEBUG -->
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%date{ABSOLUTE} %-5level %-22.22logger{1} %-18.18method - %message%newline%exception" />
    </layout>
  </appender>

  <!-- The EmailAppender sends an email when something matches the filters-->
  <appender name="EmailAppender" type="log4netExtensions.SmtpClientSmtpAppender, log4netExtensions">
    <to value="daniel@rapidtrade.com.au" />
    <from value="no-reply@rapidtrade.com.au" />
    <subject type="log4net.Util.PatternString, log4net" value="%property{log4net:HostName} Error: %appdomain" />
    <smtpHost value="smtp.gmail.com" />
    <port value="587" />
    <authentication value="Basic" />
    <username value="no-reply@rapidtrade.com.au" />
    <password value="pass@word1" />
    <bufferSize value="10" />
    <lossy value="false" />
    <threshold value="DEBUG"/>
    <!-- The filters are processed in order: -->
    <!-- 1. match the message:
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="Inserted a new user" />
      <acceptOnMatch value="true" />
    </filter> -->
    <!-- 2. match any ERROR or higher messages: -->
    <filter type="log4net.Filter.LevelRangeFilter, log4net">
      <levelMin value="ERROR" />
      <acceptOnMatch value="true" />
    </filter>
    <!-- 3. reject everything else: -->
    <filter type="log4net.Filter.DenyAllFilter, log4net" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
    </layout>
  </appender>

  <!-- Setup the root category, add the appenders and set the default level -->
  <!-- Order is: All < Debug < Info < Warn < Error < Fatal < Off -->
  <root>
    <appender-ref ref="DebugRollingLogFileAppender" />
    <appender-ref ref="EmailAppender" />
  </root>

</log4net>